<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin" action="/user/postdata/" method="POST" >
              <div class="form-label-group">
                <input type="text" id="inputUser" class="form-control" placeholder="Username" name="username" required autofocus/>
                <label for="inputUser">Username</label>
              </div>
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>
              <div class="form-label-group">
                <input type="password" id="inputUser" class="form-control" placeholder="password" name="password" required  />
                <label for="inputUser">Password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Create an account</button>
              <hr class="my-4">
              <a href="/user/login">Log in</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>